/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
*/

/*common*/
body{
    width: 65%;
    margin: 0 auto;
}

.data-imagesCaption{
    font-size: 12px;
}

.underline{
    background-color: #fffe84;
}
/*fine area comune*/

/*header style*/
#logo{
    height: 50px;
}

#logo-container{
    width: 100%;
    background-color: #4ea0ff;
}

#nome-giornale{
    color: #8ddef6;
}

#author{
    color: #adadaf;
}


/*Fine header style*/

/*MAIN STYLE*/
/*gestione immagini (creo una classe comune per l'altezza*/
.main-images{
    height: 280px;
}
/*end gestione immagini*/

/*gestione main script*/
ul{
    padding: 10px 0 0 20px;
}
/*end main script*/

/*gestione tabella*/
#t-head{
    background-color: #4ea0ff;
    color: white;
}

.row-1-3{
    background-color: #add8e6;
}
/*end gestione tabella*/


